// c Global Variables
// ========================================

// Global
$c-link-color: #0088cc !default;
$c-font-family: "Open Sans", "Noto Sans", "Noto Sans CJK JP", sans-serif !default;

// Buttons
$c-button-ghost-enable: true !default;
$c-button-padding-x: 3rem !default;
$c-button-padding-y: 1rem !default;

// Inputs
$c-input-padding-x: 1rem !default;
$c-input-padding-y: 1rem !default;

// Colors
$primary-color: #0091EA !default;
$accent-color: #455A64 !default;
$gray-dark: #212121 !default;
$gray: lighten($gray-dark, 10%) !default;
$gray-light: lighten($gray-dark, 30%) !default;
$gray-lighter: lighten($gray-dark, 55%) !default;
$gray-lightest: lighten($gray-dark, 80%) !default;
$gray-uberlight: lighten($gray-dark, 85%) !default;

// Bootstrap color variables
$brand-primary: $primary-color !default;
$brand-success: #8BC34A !default;
$brand-info: #B3E5FC !default;
$brand-warning: #F44336 !default;
$brand-danger: #FF9800 !default;


// c Component Variables
// ========================================

// Page
$c-page-paragraph-margin: 2rem !default;

// Footer Component
$c-footer-margin-top: 4rem !default;
$c-footer-bg-color: darken($accent-color, 15%) !default;
$c-footer-padding-y: 4rem !default;
$c-footer-text-color: $gray-lightest !default;
$c-footer-link-color: $gray-lighter !default;
$c-footer-social-icon-color: #fff !default;
$c-footer-social-icon-bg-color: $gray-lighter !default;

// Code component
$c-code-padding: 1rem 1.5rem !default;

// Section Component
$c-section-padding-y: 10rem !default;
$c-section-heading-margin-bottom: 2rem !default;
$c-section-border-bottom: 1px solid $gray-lightest !default;;
$c-subhero-bg-color: $gray-uberlight !default;;

// Navbar Component
$c-navbar-bg-color: #fff !default;
$c-navbar-padding-y: 1rem !default;
$c-navbar-link-color: #666 !default;
$c-header-link-color-hover: darken($c-navbar-link-color, 25%) !default;
$c-navbar-brand-color: #333 !default;
$c-navbar-item-padding-x: 1.5rem !default;

// Hero Component
$c-hero-padding-y: 10rem !default;
$c-hero-margin-bottom: $c-section-padding-y/2 !default;
$c-hero-bg-color: #263238 !default;
$c-hero-text-color: #fff !default;

// Horizontal Split: 
$c-horizontal-split-padding-x-sm: 0rem !default;
$c-horizontal-split-padding-x-md: 2rem !default;
$c-horizontal-split-padding-x-lg: 3rem !default;

// Customer Quotes Component
$c-customer-quotes-bg-color: $gray-uberlight !default;
$c-customer-quotes-border-color: $gray-uberlight !default;
$c-customer-quotes-img-width: 25% !default;

// Signup Inline
// N/A

// Signup Modal
$c-signup-modal-header-bg-color: $accent-color !default;
$c-signup-modal-header-text-color: #fff !default;
$c-signup-modal-padding-x: 3rem !default;

// N/A

// Pricing Table
$c-pricing-plan-border-color: $gray-lightest !default;
$c-pricing-plan-header-bg-color: $accent-color !default;
$c-pricing-plan-header-text-color: #fff !default;

// Image List
$c-image-list-item-padding-x: 2.5rem !default;
$c-image-list-item-max-height: 50px !default;

// Team
// N/A

// Figure

$c-figure-border: 1px solid $gray-lightest !default;
$c-figure-caption-bg-color: $gray-uberlight !default;
$c-figure-img-padding: 0rem !default;
 


// Bootstrap Overrides
// ========================================

$enable-flex: true !default;;
$enable-rounded: false !default;;
$border-radius: 0 !default;;
$link-color: $c-link-color !default;
$font-family-sans-serif: $c-font-family !default;
$jumbotron-padding: $c-hero-padding-y !default;

// Button Paddings
$btn-padding-x: $c-button-padding-x;
$btn-padding-y: $c-button-padding-y;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-y-sm: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;
$btn-padding-y-lg: $btn-padding-y;

// Input Paddings
$input-padding-x: $c-input-padding-x;
$input-padding-y: $c-input-padding-y;
$input-padding-x-sm: $input-padding-x;
$input-padding-y-sm: $input-padding-y;
$input-padding-x-lg: $input-padding-x;
$input-padding-y-lg: $input-padding-y;

// Navbar
$navbar-padding-vertical: $c-navbar-padding-y;